{% extends "layout.html" %}
{% block content %}

<h1 class='my-5'>{{ current_user.username }}'s Portfolio</h1>

<h3 class='my-1'>Stocks</h3>

<table class="table table-borderless text-center">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Stock</th>
            <th scope="col">Sector</th>
            <th scope="col">Category</th>
            <th scope="col">Date Added</th>
            <th scope="col">Buy Price</th>
            <th scope="col">CMP</th>
            <th scope="col">P/L</th>
        </tr>
    </thead>

    <tbody>
       
        {% for holding in holdings %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ holding.stock }}</td>
            <td>{{ holding.sector }}</td>
            <td>{{ holding.category }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <form method="POST">
                    {{ sellform.csrf_token }}
                    {{ sellform.sell_id(value=holding.id) }}
                    {{ sellform.sell_btn(class='btn btn-outline-danger') }}
                </form>
            </td>
        </tr>
        {% endfor %}
        

        
    </tbody>

    <tr height="10px"></tr>
    <tfoot>
        <form method="POST">
            {{ buyform.csrf_token }}
            <tr>
                <th></th>
                <td>
                    
                    {% if buyform.stock_name.errors %}
                        {{ buyform.stock_name(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in buyform.stock_name.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ buyform.stock_name(class="form-control form-control") }}
                    {% endif %}
                </td>
                <td>
                    
                    {% if buyform.sector.errors %}
                        {{ buyform.sector(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in buyform.sector.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ buyform.sector(class="form-control form-control") }}
                    {% endif %}
                </td>
                <td>
                   
                    {% if buyform.category.errors %}
                        {{ buyform.category(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in buyform.category.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ buyform.category(class="form-control form-control") }}
                    {% endif %}
                </td>
                <td>
                   
                    {% if buyform.date_added.errors %}
                    {{ buyform.date_added(class="form-control form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in buyform.date_added.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    {{ buyform.date_added(class="form-control form-control") }}
                {% endif %}
                </td>
                <td>
                   
                    {% if buyform.buy.errors %}
                        {{ buyform.buy(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in buyform.buy.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ buyform.buy(class="form-control form-control") }}
                    {% endif %}
                </td>
                <td></td>
                <td></td>
                <td>{{ buyform.buy_btn(class="btn btn-outline-success") }}</td>
                
            </tr>
        </form>
    </tfoot>
</table>

{% endblock content %}