{% extends "layout.html" %}
{% block content %}

<form class="container mt-5" style="width:50%">

	<div class="d-flex justify-content-around my-3">
		<div class="p-2" style="flex: 1;">
			<label class="form-label">Select a Sector</label>
			<select class="form-select" aria-label="Default select example">
				<option selected>-Select-</option>
				<option value="1">Auto</option>
				<option value="2">IT</option>
				<option value="3">Pharma</option>
			</select>
		</div>
		<div class="p-2" style="flex: 1;">
			<label class="form-label">Select the Type of Company</label>
			<select class="form-select" aria-label="Default select example">
				<option selected>-Select-</option>
				<option value="1">Small Cap</option>
				<option value="2">Mid Cap</option>
				<option value="3">Large Cap</option>
			</select>
		</div>

	</div>
	<div style="text-align: center; color: #838f86; font-size: 20px; font-style: italic;">
		<span>or</span>
	</div>
	<div class="my-3">
		<label for="stockname" class="form-label">Start by Picking a Stock</label>
		<input type="text" class="form-control" id="stockname">
	</div>


	<button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock content%}